@model Budget.Doc415.Models.IndexViewModel;
@{
    ViewData["Title"] = "Transactions";
}

<head>
    <!-- other head elements -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div>hello world</div>

</body>
